.AboutPage {
  transition: color 0.8s;
  color: var(--text-primary);
  min-height: 100vh;
  scroll-snap-align: start;
  font-family: Mulish;
}

.AboutPage .aboutTitle {
  font-family: Quattrocentro;
  font-size: 2em;
  margin-bottom: 3vh;
  animation: fadeIn 1.5s ease-in-out;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  text-align: center;
}

.AboutPage .aboutMe{
  text-align: justify;
  font-size: 1.5em;
}

.AboutPage .intro {
  padding: 0 150px 50px 150px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 1s 1.5s ease-in-out both;
  font-size: 2em;
}
.AboutPage .hobbies {
  font-size: 3vw;
  text-align: center;
  padding: 1vw;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out both;
  margin: 0;
  font-family: Quattrocentro;
  font-weight: 400;
}

.AboutPage .hobbyList {
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 30px;
  animation: fadeIn 0.5s ease-in-out both;
  list-style-type: none;
  margin: 0;
}

.AboutPage .hobbyContainer {
  width: 100%;
  background-color: var(--background-thirtiary);
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
}
.AboutPage .hobbyImg{
  width: 100%;
  height: auto;
  object-fit: fill;
  z-index: 1;
}
.AboutPage .left{
  text-align: left;
}
.AboutPage .right{
  text-align: right;
}
.AboutPage .hobbyDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto 5vw auto 5vw;
  z-index: 500;
}

.AboutPage .more {
  font-size: 1.5vw;
  margin: 0;
  font-weight: 300;
  font-style: italic;
}
.AboutPage .hobbyName.left {
  text-align: end;
  font-style: bold;
  font-weight: 600;
  font-size: 0.7em;
  margin: 0;
  padding: 0.5vh 3vw 0 0;
}
.AboutPage .hobbyName.right {
  text-align: start;
  font-style: bold;
  font-weight: 600;
  font-size: 0.7em;
  margin: 0;
  padding: 0.5vh 3vw 0 0;
}

.AboutPage .pics {
  display: flex;
  padding: 20px;
  background-color: var(--accent3);
}

.AboutPage .column {
  flex: 25%;
  max-width: 25%;
}

.AboutPage .myPictures {
  vertical-align: middle;
  width: 100%;
}

/* .hidden {
  padding: 5px;
  opacity: 0;
  filter: blur(5px);
  transition: all 1.5s;
  transform: scale(0);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(1, 1);
}

.before {
  transition: all 2s;
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
}
.after {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.before2 {
  transition: all 2s;
  opacity: 0;
  filter: blur(5px);
  transform: rotate(180deg) translateY(50%);
}
.after2 {
  opacity: 1;
  filter: blur(0);
  transform: rotate(180deg) translateY(0);
}

.before3 {
  transition: all 2s;
  opacity: 0;
  filter: blur(5px);
}
.after3 {
  opacity: 1;
  filter: blur(0);
} */

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
