.wavesAnimated .svg1 {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  animation: bottomFadeIn 1s 1.75s ease-in-out both;
}
.wavesAnimated .path1 {
  transition: fill 0.6s;
  fill: var(--accent1);
  fill-opacity: 1;
}
.wavesAnimated .svg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  animation: bottomFadeIn 1s 2.5s ease-in-out both;
  z-index: 3;
}
.wavesAnimated .path2 {
  transition: fill 0.6s;
  fill: var(--primaryAccentT1);
  fill-opacity: 0.9;
}
.wavesAnimated .svg3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  animation: bottomFadeIn 1s 3.25s ease-in-out both;
  z-index: 5;
}
.wavesAnimated .path3 {
  transition: fill 0.6s;
  fill: var(--primaryAccentT2);
  fill-opacity: 1;
}
.wavesAnimated .svg4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  animation: bottomFadeIn 1s 4s ease-in-out both;
  z-index: 7;
}
.wavesAnimated .path4 {
  transition: fill 0.6s;
  fill: var(--primaryAccentT3);
  fill-opacity: 0.8;
}
.wavesAnimated .svg5 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  animation: bottomFadeIn 1s 4.75s ease-in-out both;
  z-index: 9;
}
.wavesAnimated .path5 {
  transition: fill 0.6s;
  fill: var(--accent3);
  fill-opacity: 1;
}

@keyframes bottomFadeIn {
  0% {
    transform: translateY(20%);
    filter: blur(3px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.wavesAnimated .parallax {
  pointer-events: none;
}
