:root {
  --background-primary: #141416;
  --background-secondary: #2f3d46;
  --background-thirtiary: #11242a;
  --border-color: #364f53;
  --text-primary: #cad2c5;
  --text-accent: #517970;
  --primaryAccent: #85a98d;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.app {
  transition: color 0.8s;
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-size: large;
  font-weight: bold;
  transition: all 0.6s;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /*hiding scrollbars*/
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app::-webkit-scrollbar {
  display: none;
}
.nav {
  width: 7vw;
  height: 30vh;
  position: fixed;
  background-color: inherit;
  z-index: 2000;
  top: 2vh;
  left: 0;
}

.spacer {
  height: 5rem;
}

.links {
  width: 5vw;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 3vw;
}

.content {
  background-color: inherit;
  margin: 0 9vw 0 9vw;
  height: 100vh;
}

@media (max-width: 800px) {
  .content {
    margin: 0 12vw 0 12vw;
  }
  .nav {
    width: 15vw;
  }
  .links {
    width: 11vw;
    height: 30vh;
  }
}
