.ContactPage {
  margin-top: 20vh;
  padding: 1vw 1vw 0 1vw;
  height: calc(95vh - 99px);
}

.ContactPage .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7vh;
}

.ContactPage p {
  color: var(--text-primary);
}

.ContactPage .top {
  height: 4vh;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.ContactPage .subject {
  flex-grow: 1;
  background-color: inherit;
  color: var(--text-primary);
  border: none;
  align-items: first baseline;
  display: flex;
  gap: 1rem;
}
.ContactPage .subject input {
  flex-grow: 1;
  background-color: inherit;
  color: var(--text-primary);
  border: none;
  border-bottom: solid var(--accent1) 1px;
}
.ContactPage .email {
  flex-grow: 1;
  background-color: inherit;
  color: var(--text-primary);
  border: none;
  align-items: first baseline;
  display: flex;
  gap: 1rem;
}
.ContactPage .email input {
  flex-grow: 1;
  background-color: inherit;
  color: var(--text-primary);
  border: none;
  border-bottom: solid var(--accent1) 1px;
}

.ContactPage .message {
  height: 38vh;
  background-color: inherit;
  color: var(--text-primary);
  border: none;
  border: solid var(--accent1) 1px;
}

.ContactPage .subject input:focus,
.email input:focus,
.message:focus {
  outline: none;
  /* box-shadow: -5px -5px 5px var(--accent2); */
}

.ContactPage .button {
  height: 5vh;
  background-color: inherit;
  color: var(--text-primary);
  border: solid var(--accent1) 1px;
}

.ContactPage .button:hover {
  background-color: var(--accent1);
  border: none;
}
