.projectDisplay {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  transition: all 0.6s;
  font-family: Quatrocentro;
}

.projectDisplay .projectName {
  margin-bottom: 1vh;
  font-size: 3vh;
  text-decoration: underline;
  font-weight: 200;
}

.projectDisplay .projectDescription {
  font-size: 1.3em;
  font-weight: 200;
}

.projectDisplay .image {
  width: 50%;
  object-fit: contain;
  margin-bottom: 1vw;
}

.projectDisplay .capabilityList {
  padding: 0 1vw 0 1vw;
}
