.ResourcesPage {
  transition: color 0.8s;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  padding: 2vh 0;
  outline: solid var(--border-color);
}

.ResourcesPage .resourceListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 0;
}

.ResourcesPage .hidden {
  font-style: normal;
  font-size: 2vh;
  color: var(--text-primary);
  position: absolute;
  top: 0vh;
  visibility: hidden;
}

.ResourcesPage .resourceListItem:hover .hidden {
  cursor: pointer;;
  visibility: visible;
}

.ResourcesPage .itemName {
  width: 7vw;
  font-family: Quattrocentro;
  font-weight: 700;
}

.ResourcesPage .resourceIcon {
  justify-content: center;
  width: 100%;
  object-fit: cover;
  max-width: 2.7vw;
  object-position: center;
}
